@import "tailwindcss";

@theme {
  --breakpoint-mobile: 640px;
  --breakpoint-tablet: 768px;
  --breakpoint-desktop: 1080px;

  --color-darkGreen: #2e7d32;
  --color-lightGreen: #81c784;
  --color-skyBlue: #4fc3f7;
  --color-beige: #f5e6ca;
  --color-gris: #8f96a1;
  --color-lightGray: #deedfa;
  --color-ocean: #20887e;

  --font-nunito: "Nunito";
}

@font-face {
  font-family: "Nunito";
  src: url("/src/assets/fonts/Nunito-Regular.woff2") format("woff2"),
    url("/src/assets/fonts/Nunito-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html {
  scroll-behavior: smooth;
}

/* global.css o tu archivo de estilos */
.leaflet-popup-content-wrapper {
  border: solid black 1px;
  background-color: #4b4a4a8e !important;
  border-radius: 12px !important;
  backdrop-filter: blur(3px);
}

.leaflet-popup-tip {
  background: #f0f9ff;
}
